.post-type {
  width: 100%;
  display: block;
  cursor: pointer;
}

.selected {
  position: absolute;
  border-radius: 10rem;
  background-color: #e63d51;
  width: 15px;
  height: 15px;
  top: 3px;
  left: -6px;
}

.post-type > img {
  object-fit: cover;
  width: 100%;
  height: 100px;
  vertical-align: middle;
}

.post-type > span {
  position: absolute;
  display: flex;
  margin-left: 2px;
  top: 8px;
  left: 8px;
  font-size: x-large;
  color: whitesmoke;
  font-weight: bolder;
  text-shadow: 2px 2px #0000006b;
  width: 100%;
}

.form-search {
  margin-bottom: 16px;
}
